.crosshair {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 2px solid #ff0055;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0 0 10px #ff0055;
}

.crosshair::before,
.crosshair::after {
    content: '';
    position: absolute;
    background: #ff0055;
}

.crosshair::before {
    top: 50%;
    left: -50%;
    width: 200%;
    height: 2px;
    transform: translateY(-50%);
}

.crosshair::after {
    left: 50%;
    top: -50%;
    height: 200%;
    width: 2px;
    transform: translateX(-50%);
}